<!DOCTYPE html>
<html>
<head>
	<title>Data</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Profile Detail</p>
		</div>
		<div>
			<center>
				<table class="table table-hover text-center">
					<tr><td>Name </td><td><%= name %></td></tr>
				
				</table>
			</center>
		</div>
				<div>
			<center>
				<table class="table table-hover text-center">
					<tr><td><p><a id="link" href="http://192.168.99.100:9000/chat/"onclick="location.href=this.href+'<%= name %>';return false;">Start a New Conversation</a></p></td></tr>
				
				</table>
			</center>
		</div>
				<div>
			<center>
				<table class="table table-hover text-center">
				<tr><td><p><a id="link" href="http://192.168.99.100:3000/api/chats/"onclick="location.href=this.href+'<%= name %>';return false;">Open Chat History</a></p></td></tr>
					<!--<tr><td>Open Chat History</td></tr> -->
				
				</table>
			</center>
		</div>
		<div class="abc">
			<a href="/logout">Logout</a>
		</div>
	</div>
</body>
</html>